.loginPage {
    background: url('Images/employeems.jpeg');
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url("Images/employeems.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.loginForm {
    background-color: rgba(2, 53, 68, 0.6);
    color: white;
}

ul li a:hover {
    color: whitesmoke;
}

.employee_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.emp_det_image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.navbar{
    background: teal;
    color: whitesmoke;
    font-style: italic;
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
}
.navbar1{
    background: teal;
    font-style: italic;
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    gap: 10px;
}
.sidebar a{
    color: teal;
    font-style: italic;
    text-decoration: none;
}
.bn{
    background-color: teal;
}
.bn:hover{
    background-color: teal;
    color: whitesmoke;
}
.link-style{
    text-decoration: none;
    font-size: 20px;
}
.link-style:hover{
    color: whitesmoke;
}
.table-heading{
    font-size: 25px;
}

.category-link td:hover{
    background-color: teal;
    cursor: pointer;
}

